{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block title %}
        {% endblock title %}
        <link rel="stylesheet" href="{% static "css/receipts.css" %}">
    </head>
    <body>
        <header>
            <nav>
                    {% if user.is_authenticated %}
                            <a class="nav_hover" href="{% url 'show_my_tasks' %}">My payment</a>
                            <a class="nav_hover" href="{% url 'list_projects' %}">My bills</a>
                            <a class="nav_hover" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                            <a class="nav_hover" href="{% url 'login' %}">Login</a>
                            <a class="nav_hover" href="{% url 'signup' %}">Signup</a>
                    {% endif %}
                    <form method=POST action="{% url 'search' %}">
                        {% csrf_token %}
                    <input type="search" placeholder="Search" aria-label="Search" name="searched">
                    <button type="submit">Search</button>
                    </form>
            </nav>
        </header>
        
        {% block content %}
        {% endblock content %}
    </body>
</html>
