{% extends 'base.html' %}

{% block content %}

<h1>Contact Us</h1>



<form method="post">
    {% csrf_token %}
   {{ form.as_p }}
   <button>Submit</button>
        </form>

    
{% endblock content %}