@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

nav{border-bottom: 1px;
    padding: 16px;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }

.nav_hover{
        color: #0000;
        background: 
          radial-gradient(circle, rgba(212,2,249,1) 28%, rgba(250,251,61,1) 53%, rgba(0,212,255,1) 100%)
          var(--c,0%)/200% no-repeat;
        -webkit-background-clip: text;
                background-clip: text;
        transition: .8s;
      }
.nav_hover:hover{
        --c:100%;
      }  

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {background-color: #7A577A;
        font-size: 28px;
        color: #F8ECB2;
}
a{color:  #287A70;
}

body{font-family: 'Architects Daughter', cursive;
    background-color: #1E232E;
    color: white
  
    
}
